# byte-compiled
__pycache__/

# venv
*.egg-info
stereoview-venv

# data
data/galvani/**
!data/galvani/image_collection
!data/galvani/image_collection/**/*

# models
src/galvani/StereoDiffusion/midas_models/dpt_hybrid-midas-501f0c75.pt
src/galvani/StereoDiffusion/models/512-depth-ema.ckpt
src/galvani/StereoDiffusion/models/v2-1_768-ema-pruned.ckpt
src/galvani/StereoDiffusion/models/qwen2.5_7b_instruct
src/galvani/zero_123/zero123/models/sd-image-conditioned-v2.ckpt
src/galvani/zero_123/zero123/view_release/valid_paths.json
src/galvani/zero_123/zero123/view_release/__MACOSX/._valid_paths.json

# output
src/galvani/StereoDiffusion/outputs/*

# latex
latex/**/*.aux
latex/**/*.bbl
latex/**/*.bcf
latex/**/*.blg
latex/**/*.fdb_latexmk
latex/**/*.fls
latex/**/*.log
latex/**/*.nav
latex/**/*.out
latex/**/*.xml
latex/**/*.snm
latex/**/*.gz
latex/**/*.toc
latex/**/*.pdf

